.price {float:left; 
	width:33%;
} 
ul { list-style: none;}

h1{
	margin:auto;
	text-align: center;
	font-size: 48pt;
}
h3{
	margin:auto;
	text-align: center;
}
p{
	margin:auto;
	text-align: center;
}
.food{
	float:left; 
	width:33%;

}
.total{
	text-align: center;
	
}
body{
	background-color: lavenderblush;
}